*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html body{
    background: linear-gradient(to top, #050404, #8d560f, #b46e12, #e28c0a);
    overflow: hidden;/* esconde barra de scroll*/
    height: 94vh;
}

.corpo{
    margin-top: 70px;
    color: white;
}
/* tamanho da imagem do avatar*/
#avatar{
    width: 150px;
}

p{
    text-align: center;
}
/*estlização dos botões*/
#botao{
    padding: 1.3em 3em;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffffff;
    background-color: #000000;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#botao:hover{
    background-color: #ffffff;
    box-shadow: 0px 15px 20px rgba(44, 44, 44, 0.4);
    color: #000000;
    transform: translateY(-7px);
}
/*estilização do rodapé*/
#rodape{
    background-color: transparent;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 50px;
    bottom: 0;
    right: 0;
    left: 0;
}

#rodape  div{
    margin-bottom: 10px;
}

#rodape  a{
    text-decoration: none;
    color: white;
}

#in{
    max-width: 15px;
    max-height: 15px;
} 

#bt{
    text-align: center;
}

.espaco {
    margin-top: 60px;
}
/*estilização da Logotipo*/
#cerva {
    max-width: 300px;
    max-height: 300px;
    display: block; /* torna a imagem um elemento de bloco */
    margin: auto; /* centraliza horizontalmente */
    position: absolute; /* torna a imagem um elemento posicionado */
    top: 0; bottom: 100;left: 0; right: 0; /* centraliza verticalmente */
}